<p-toast></p-toast>

<div class="header">
  <h3>Management Teachers</h3>
</div>

<div class="content">
  <h3>{{title}}</h3>
  <form [formGroup]="inputFormTeacher" (submit)="saveTeacher()" class="input-form-teacher">
    <div class="field grid">
      <label for="teacherId" class="col-fixed" style="width:120px">Teacher ID:</label>
      <div class="col-8">
          <input id="teacherId"
            type="text"
            formControlName="teacherId"
            [readonly]="mode === 'edit'"
            aria-describedby="teacherId-help"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          <small id="teacherId-help" *ngIf="((isValidate && inputFormTeacher.get('teacherId')?.invalid) || inputFormTeacher.get('teacherId')?.invalid && inputFormTeacher.get('teacherId')?.touched)">*Please enter Teacher ID.</small>
      </div>
    </div>

    <div class="field grid">
        <label for="fullName" class="col-fixed" style="width:120px">Full name:</label>
        <div class="col-8">
            <input id="fullName"
              type="text"
              formControlName="fullName"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            <small id="fullName-help" *ngIf="((isValidate && inputFormTeacher.get('fullName')?.invalid) || inputFormTeacher.get('fullName')?.invalid && inputFormTeacher.get('fullName')?.touched)">*Please enter FullName.</small>
        </div>
    </div>

    <div class="field grid">
      <label for="gender" class="col-fixed" style="width:120px">Gender:</label>
      <div class="col-8">
        <p-dropdown [options]="dropdownGender" formControlName="gender" optionLabel="label" tooltipPosition="top"></p-dropdown>
        <small id="gender-help" *ngIf="((isValidate && inputFormTeacher.get('gender')?.invalid) || inputFormTeacher.get('gender')?.invalid && inputFormTeacher.get('gender')?.touched)">*Please select Gender.</small>
      </div>
    </div>

    <div class="field grid">
      <label for="birthday" class="col-fixed" style="width:120px">Birthday:</label>
      <div class="col-8">
        <p-calendar class="p-calendar"
                    id="birthday"
                    formControlName="birthday"
                    [showIcon]="true"></p-calendar>
        <small id="birthday-help"
          *ngIf="((isValidate && inputFormTeacher.get('birthday')?.invalid) || inputFormTeacher.get('birthday')?.invalid && inputFormTeacher.get('birthday')?.touched)">*Please select Birthday.</small>
      </div>
    </div>

    <div class="field grid">
      <label for="address" class="col-fixed" style="width:120px">Address</label>
      <div class="col-8">
          <input id="address"
            type="text"
            formControlName="address"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          <small id="address-help"
          *ngIf="((isValidate && inputFormTeacher.get('address')?.invalid) || inputFormTeacher.get('address')?.invalid && inputFormTeacher.get('address')?.touched)">*Please enter Address.</small>
      </div>
    </div>

    <div class="field grid">
      <div class="col-fixed" style="width: 120px;"></div>
      <div class="col-8 teacher-form-btn-actions">
        <p-button label="Save" type="submit" class="btn-save" [disabled]="false"></p-button>
        <p-button label="Cancel" class="btn-cancel" styleClass="p-button-danger" [disabled]="false" (click)="cancel()"></p-button>
      </div>
    </div>
  </form>
</div>
