<p-toast></p-toast>

<div class="header">
  <h3>Management Classes</h3>
</div>

<div class="content">
  <div class="actions">
    <p-button (click)="redirectTo('management-classes/add')">Create</p-button>
  </div>

  <div class="classes">
    <p-table [value]="summaryClasses" >
      <ng-template pTemplate="header">
        <tr>
          <th>Number</th>
          <th>Class Name</th>
          <th>Teacher Name</th>
          <th>Student Quantity</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-class let-rowData let-rowIndex="rowIndex">
        <tr>
          <td>{{ (pageIndex * pageSize) + (rowIndex + 1) }}</td>
          <td>{{ class.className }}</td>
          <td>{{ class.teacherName }}</td>
          <td>{{ class.numberOfStudent }}</td>
          <td class="table-actions card flex justify-content-center">
            <p-button class="btn-edit" icon="pi pi-file-edit" [disabled]="false" (click)="redirectTo('management-classes/edit/' + class.id)"></p-button>
            <p-button class="btn-remove" icon="pi pi-times" [disabled]="false" (click)="confirm(class.id)"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No data available in table.</td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator [rows]="pageSize"
            [totalRecords]="20"
            [rowsPerPageOptions]="[10, 25, 50]"
            (onPageChange)=onPageChange($event)
            >
    </p-paginator>

    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  </div>
</div>
