.header {
  border-bottom: 1px solid;
}

.content {
  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 4px 12px 4px 0px;
  }
}


:host ::ng-deep .p-datatable-tbody .table-actions {
  .p-button {
    display: flex;
    background: white;
    padding: 0.5rem;
    border: none;
  }

  .btn-view {
    .p-button {
      color: black;
    }
  }

  .btn-remove {
    .p-button {
      color: #CD5C5C	;
    }
  }
}
