<p-toast></p-toast>

<div class="header">
  <h3>Management Teachers</h3>
</div>

<div class="content">
  <div class="actions">
      <p-button (click)="redirectTo('management-teachers/add')">Create</p-button>
  </div>

  <div class="teachers">
    <p-table [value]="teachers" >
      <ng-template pTemplate="header">
        <tr>
          <th>Number</th>
          <th>Teacher ID</th>
          <th>Full Name</th>
          <th>Gender</th>
          <th>Address</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-teacher let-rowData let-rowIndex="rowIndex">
        <tr>
          <td>{{ (pageIndex * pageSize) + (rowIndex + 1) }}</td>
          <td>{{ teacher.teacherId }}</td>
          <td>{{ teacher.fullName }}</td>
          <td>{{ teacher.gender }}</td>
          <td>{{ teacher.address }}</td>
          <td class="table-actions card flex justify-content-center">
            <p-button class="btn-edit" icon="pi pi-file-edit" [disabled]="false" (click)="redirectTo('management-teachers/edit/' + teacher.id)"></p-button>
            <p-button class="btn-remove" icon="pi pi-times" [disabled]="false" (click)="confirm(teacher.id)"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No data available in table.</td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator [rows]="pageSize"
             [totalRecords]="20"
             [rowsPerPageOptions]="[10, 25, 50]"
             (onPageChange)=onPageChange($event)
             >
    </p-paginator>

    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  </div>
</div>
