.main {
  display: flex;

  .left-menu {
    width: 48px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
    border-right: 2px solid #dee2e6;
    padding: 0px 4px;
    // background-color: greenyellow;

    .collapse-menu {
      width: 100%;
      padding: 8px 0px;
    }

    .menu-items {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        margin-top: 20px;
      }

      li:first-child {
        margin-top: 0px;
      }
    }
  }

  .body {
    width: calc(100% - 48px);
    padding: 0px 8px;
  }
}

:host ::ng-deep p-button {
  width: auto;
  padding: 0;
  button {
    width: 100%;
    // background-color: greenyellow;
    color: black;
    border: none;
  }
}
