<p-toast [style]="{ marginTop: '80px' }" key="myToast"></p-toast>

<div class="main">
  <div class="left-menu card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible">
      <h3>Sidebar</h3>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </p-sidebar>
    <p-button class="collapse-menu" (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>

    <ul class="menu-items">
      <li>
        <a href="/management-classes" title="Management Classes">
          <!-- <i class="pi-info-circle"></i> -->
          <img src="../assets/icons/class.svg" alt="">
        </a>

      </li>
      <li>
        <a href="/management-teachers" title="Management Teachers">
          <!-- <i class="pi-info-circle"></i> -->
          <img src="../assets/icons/teacher.svg" alt="">
        </a>
      </li>
      <li>
        <a href="/management-students" title="Management Students">
          <!-- <i class="pi-info-circle"></i> -->
          <img src="../assets/icons/student.svg" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
