.header {
  border-bottom: 1px solid;
}

.content {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

small {
  color: #cc0000;
}

:host ::ng-deep .field {
  input, .p-dropdown, .p-calendar {
    width: 100%;
  }

  p-table {
    width: 100%;
    padding: 0px 8px;
  }
}

:host ::ng-deep .student-form-btn-actions {
  // display: flex;
  // justify-content: flex-end;

  p-button {
    padding: 0px 2px;
  }
}
