<p-toast></p-toast>

<div class="header">
  <h3>Management Classes</h3>
</div>

<div class="content">
  <h3 style="text-align: center;">{{title}}</h3>
  <form [formGroup]="inputFormClass" (submit)="saveClass()" class="input-form-class">
    <div class="field grid">
      <label for="className" class="col-fixed" style="width:200px">Class Name:</label>
      <div class="col-10">
          <input id="className"
            type="text"
            formControlName="className"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          <small id="className-help" *ngIf="((isValidate && inputFormClass.get('className')?.invalid) || inputFormClass.get('className')?.invalid && inputFormClass.get('studentId')?.touched)">*Please enter Class Name.</small>
      </div>
    </div>

    <div class="field grid">
      <label for="teacher" class="col-fixed" style="width:200px">Select Teacher:</label>
      <div class="col-10">
        <p-dropdown [options]="dropdownTeachers" formControlName="teacher" optionLabel="label" tooltipPosition="top" id="teacher"></p-dropdown>
        <small id="teacher-help" *ngIf="((isValidate && inputFormClass.get('className')?.invalid) || inputFormClass.get('className')?.invalid && inputFormClass.get('studentId')?.touched)">*Please select Teacher.</small>
      </div>
    </div>

    <div class="field grid">
      <label for="teacherId" class="col-fixed" style="width:200px">Select Students:</label>
      <div class="col-10">
        <p-button (click)="selectStudentPopup()">Select Students:</p-button>
      </div>
    </div>

    <div class="field grid">
      <p-table [value]="selectedStudents">
        <ng-template pTemplate="header">
          <tr>
            <th>Number</th>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Address</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student let-rowData let-rowIndex="rowIndex">
          <tr>
            <td>{{ (pageIndex * pageSize) + (rowIndex + 1) }}</td>
            <td>{{ student.studentId }}</td>
            <td>{{ student.fullName }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.address }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="8">No students selected</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="flex justify-content-end student-form-btn-actions">
       <p-button label="Save" type="submit" class="btn-save" [disabled]="false"></p-button>
       <p-button label="Cancel" class="btn-cancel" styleClass="p-button-danger" [disabled]="false" (click)="cancel()"></p-button>
    </div>
  </form>
</div>
