<p-toast></p-toast>

<div class="header">
  <h3>Management Students</h3>
</div>

<div class="content">
  <h3>{{title}}</h3>
  <form [formGroup]="inputFormStudent" (submit)="saveStudent()" class="input-form-student">
    <div class="field grid">
      <label for="studentId" class="col-fixed" style="width:120px">Student ID:</label>
      <div class="col-8">
          <input id="studentId"
            type="text"
            formControlName="studentId"
            [readonly]="mode === 'edit'"
            aria-describedby="studentId-help"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          <small id="studentId-help" *ngIf="((isValidate && inputFormStudent.get('studentId')?.invalid) || inputFormStudent.get('studentId')?.invalid && inputFormStudent.get('studentId')?.touched)">*Please enter Student ID.</small>
        </div>
    </div>

    <div class="field grid">
        <label for="fullName" class="col-fixed" style="width:120px">Full name:</label>
        <div class="col-8">
            <input id="fullName"
              type="text"
              formControlName="fullName"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            <small id="fullName-help" *ngIf="((isValidate && inputFormStudent.get('fullName')?.invalid) || inputFormStudent.get('fullName')?.invalid && inputFormStudent.get('fullName')?.touched)">*Please enter FullName.</small>
        </div>
    </div>

    <div class="field grid">
      <label for="gender" class="col-fixed" style="width:120px">Gender:</label>
      <div class="col-8">
        <p-dropdown [options]="dropdownGender" formControlName="gender" optionLabel="label" tooltipPosition="top"></p-dropdown>
        <small id="gender-help" *ngIf="((isValidate && inputFormStudent.get('gender')?.invalid) || inputFormStudent.get('gender')?.invalid && inputFormStudent.get('gender')?.touched)">*Please select Gender.</small>
      </div>
    </div>

    <div class="field grid">
      <label for="birthday" class="col-fixed" style="width:120px">Birthday:</label>
      <div class="col-8">
        <p-calendar class="p-calendar"
                    id="birthday"
                    formControlName="birthday"
                    [showIcon]="true"></p-calendar>
        <small id="birthday-help"
          *ngIf="((isValidate && inputFormStudent.get('birthday')?.invalid) || inputFormStudent.get('birthday')?.invalid && inputFormStudent.get('birthday')?.touched)">*Please select Birthday.</small>
      </div>
    </div>

    <div class="field grid">
      <label for="address" class="col-fixed" style="width:120px">Address</label>
      <div class="col-8">
          <input id="address"
            type="text"
            formControlName="address"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          <small id="address-help"
          *ngIf="((isValidate && inputFormStudent.get('address')?.invalid) || inputFormStudent.get('address')?.invalid && inputFormStudent.get('address')?.touched)">*Please enter Address.</small>
      </div>
    </div>

    <div class="field grid">
      <div class="col-fixed" style="width: 120px;"></div>
      <div class="col-8 student-form-btn-actions">
        <p-button label="Save" type="submit" class="btn-save" [disabled]="false"></p-button>
      <p-button label="Cancel" class="btn-cancel" styleClass="p-button-danger" [disabled]="false" (click)="cancel()"></p-button>
      </div>
    </div>
  </form>
</div>
