.header {
  border-bottom: 1px solid;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 50vw;
  }
}

small {
  color: #cc0000;
}

:host ::ng-deep .field {
  input, .p-dropdown, .p-calendar {
    width: 100%;
  }
}

:host ::ng-deep .student-form-btn-actions {
  display: flex;
  justify-content: flex-end;

  p-button {
    padding: 0px 2px;
  }
}
